---
import about from "../data/aboutme.json";
---

<div class="flex flex-col items-start justify-center p-4 md:p-5 xl:p-6 w-full h-full">
  <h2 class="text-2xl font-bold mb-4 text-start pl-1">About Me</h2>
  <ul class="grid grid-cols-1 gap-3 w-full h-full">
    {about.map((project) => (
      <li class="flex items-center group transition-transform duration-300 hover:scale-105 border border-black pl-4 p-2 rounded-lg hover:bg-new-blue hover:border-new-blue relative">
        <div class="flex flex-row items-stretch gap-5">
          <div class="flex items-center justify-center">
            <img
              src={project.icon}
              alt={project.title}
              class="transition duration-300 group-hover:-translate-y-1 w-6 h-6 group-hover:invert"
            />
          </div>
          <div>
            <h3 class="transition font-bold duration-300 group-hover:translate-x-1 text-neutral-12 text-sm group-hover:text-white">
              {project.description}
            </h3>
            <div class="transition duration-300 group-hover:translate-x-px text-neutral-10 group-hover:text-neutral-11 text-xs group-hover:text-white">
              {project.title}
            </div>
          </div>
        </div>
        <div class="absolute right-0 w-24 h-24 opacity-0 transition-opacity duration-300 group-hover:opacity-25 group-hover:invert">
          <img
            src={project.icon}
            alt="Larger Icon"
            class="w-full h-full"
          />
        </div>
      </li>
    ))}
  </ul>
</div>
