---
import '../styles/styles.css';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="icon" type="image/" href="/img/logo_2.png"/>
		<meta charset="UTF-8" />
		<meta name="author" content="Maxwell John Arzadon"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={Astro.site} />
		<meta property="og:type" content="website" />
		<title>{title}</title>
	</head>
	<body class="font-body">
		<slot />
	</body>
</html>
